doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Portfolio - Nhut Le

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Nhut Le
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#project') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | NHUT
                        span.text-primary LE
                    .subheading
                        | Computer Vision Engineer at 
                        a(href='https://sturfee.com/') Sturfee, Inc. 
                    .subheading
                        | Master in Computer Science At Portland State University
                    .subheading.mb-5
                        | (571) 639-7270 -
                        a(href='mailto:letatanu@gmail.com') letatanu@gmail.com
                    .subheading.mb-5
                        span.text-primary Actively seeking for software engineer position in computer vision and machine learning.
                    p.lead.mb-2
                        | I have been working as a computer vision engineer at  
                        span.text-primary 
                        a(href='https://sturfee.com/') Sturfee, Inc. 
                        span.text-primary 
                        | for 1+ year. My work focuses on 3D reconstruction and 3D localization to improve the performance and accuracy of VPS service - the main product of Sturfee. 
                    p.lead.mb-2
                        | I received my
                        span.text-primary M.S. 
                        | in Computer Science at Portland State University in Spring 2020 and my
                        span.text-primary B.S. 
                        | in Computer Science at Portland State University in Spring 2018.
                    p.lead
                        | My working areas include Computer Vision, Computer Graphics, and Computational Photography. I am also interested in deep learning- and machine learning-based approaches to challenging vision and graphics problems.
                    ul.lead
                        li Computer Vision: 
                            span.text-secondary 3D reconstruction, 3D localization, epipolar geometry, optical flow, and color transfer.
                        li Computer Graphics: 
                            span.text-secondary UV unwrapping, texture mapping.
                        li Deep Learning:
                            span.text-secondary AlexNet, VGG and ResNet.
                        li Machine Learning:
                            span.text-secondary reinforcement learning and K-nearest neighbors, and K-mean.
                       
        
                    .social-icons
                        a.social-icon(href='https://linkedin.com/in/nhutle93')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/letatanu')
                            i.fab.fa-github
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Computer Vision Engineer
                            span.h4.mb-3 Sturfee, Inc. 
                            .subheading.mb-3 Milpitas, CA
                            ul.lead
                                li Contribute to VPS service - the precise localization in 3D prior map.  
                                ul 
                                    li 1+ years developing and designing 
                                        span.text-secondary computer vision technologies.
                                    li Research and prototype techniques for 
                                        span.text-secondary 3D reconstruction and 3D localization.
                                    li Develop and apply techniques for 
                                        span.text-secondary uv unwrapping and texture mapping.
                                    li Working knowledge of agile methodology.

                        .flex-shrink-0
                            span.text-primary October 2020 –Present 

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Undergraduate student
                            span.h4.mb-3 Computer Vision & Graphics Lab
                            .subheading.mb-3 Portland State University
                            ul.lead
                                li Worked closely on the project relating to the video interpolation and optical flow.
                                ul 
                                    li Comparing the performances between state-of-the-art video interpolation methods such as
                                        span.text-secondary TOFlow, FlowNet, and DeepFlow2.
                            ul.lead 
                                li Worked in pre-processing and analyzing large scale data. 
                                ul   
                                    li Pre-processing data: collecting hundreds of videos. Thousands of frames extracted from those videos were structured into train, validation, and test sets.
                                    li Comparison: analyzing the vast amount of returned results from different angles.
                            ul.lead
                                li  As a result, the comparisons of the performances between state-of-the-art video interpolation methods such as TOFlow, FlowNet, and DeepFlow2 were obtained.
                        .flex-shrink-0
                            span.text-primary March 2017 – December 2018

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Portland State University
                            span.mb-2 Portland, OR
                            .subheading.mb-3 Master of Science
                            div Computer Science - Languages & Programming Track
                            //- p GPA: 3.69
                        .flex-shrink-1
                            span.text-primary Sep 2018 - Aug 2020 

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Portland State Univeristy
                            span.mb-2 Portland, OR
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science
                            //- p GPA: 3.32
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check 
                                    | International Achievement Scholarship
                       
                        .flex-shrink-0
                            span.text-primary Jan 2015 - Jun 2018

           
            hr.m-0

            // Project
            section#project.resume-section
               .resume-section-content
                    h2.mb-5 Projects
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://github.com/letatanu/DeepHomography") Deep Image Homography Estimation
                            .subheading.mb-3 Python/Pytorch/OpenCV/Numpy/Matplotlib/Jupyter Notebook
                            ul.lead
                                li This project is the unofficial implementation of the paper 
                                    a(href="https://arxiv.org/pdf/1606.03798.pdf") Deep Image Homography Estimation. 
                                li A homography is a mapping from a projective space (image) P to Q. 
                                li From this network, it will estimate a 4-point homography parameterization which maps the four corners from one image into the second image.
                                li As a result, the average corner error is 
                                ul
                                    li 6.003 for the train set.
                                    li 6.034 for the validation set.
                            ul.list-group.list-group-horizontal-sm
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_5/origin.png', alt='origin')
                                        figcaption
                                            p 
                                                | Example
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_5/result.png', alt='result')
                                        figcaption
                                            p 
                                                | Result
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_5/patch.png', alt='patch')
                                        figcaption
                                            p 
                                                | Patch
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_5/gt.gif', alt='groundTruth')
                                        figcaption
                                            p Ground Truth
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_5/predicted.gif', alt='predicted')
                                        figcaption
                                            p Predicted Result

                            ul.list-group.list-group-horizontal-sm
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_6/origin.png', alt='origin')
                                        figcaption
                                            p 
                                                | Example
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_6/result.png', alt='result')
                                        figcaption
                                            p 
                                                | Result
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_6/patch.png', alt='patch')
                                        figcaption
                                            p 
                                                | Patch
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_6/gt.gif', alt='groundTruth')
                                        figcaption
                                            p Ground Truth
                                li.list-group-item
                                    figure
                                        img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/example_6/predicted.gif', alt='predicted')
                                        figcaption
                                            p Predicted Result

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://github.com/letatanu/DeepE_noCor_Pytorch") Deep Essential Matrix Estimation without Correspondences
                            .subheading.mb-3 Python/Pytorch/OpenCV/Numpy/Matplotlib
                            ul.lead
                                li Estimating the essential matrix between two frames obtained by a monocular camera in the epipolar geometry.
                                li The designed ConvNet can directly estimate the essential matrix without detecting feature points (correlations) between the two input images. 
                                li In the test set, the visualizing results looked incredible.
                            img.center.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/DeepF.gif', alt='demo')
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://github.com/letatanu/AI_Chess") AI Chess
                            .subheading.mb-3 Python/Numpy/Reinforcement Learning
                            ul.lead
                                li Training an agent that can play chess v.s human players by using reinforcement learning. 
                                li The agent was trained on both sides of the player, which reduces the training time by half. 
                                li As a result, the agent wins 100/100 games v.s the Random agent. 
                            img.center.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/chess.gif', alt='demo')

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                                a(href="https://github.com/letatanu/AI_MineSweeper") AI MineSweeper
                            .subheading.mb-3 Python/Numpy/Reinforcement Learning
                            ul.lead
                                li Training an agent that can play minesweeper itself by using reinforcement learning.
                                li The state in the Q-matrix is re-defined so that the agent trained in small sizes of the grid can play on grids with larger sizes. 
                                li As a result, the agent trained in random 5x5 grids with three mines can win 16/1000 random games of 9x9 grids with ten mines. 
                            img.center.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/minesweeper.gif', alt='demo')
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://github.com/letatanu/ColorID") Color ID 
                            .subheading.mb-3 Swift/K-mean
                            ul.lead
                                li An iOS application gives the name of the most dominant color in the given image, which is obtained from the photo gallery or camera on the iOS devices. 
                                li It utilizes a machine learning algorithm called k-mean to cluster colors into groups, then takes the average of color values in the most popular group to give the color result. 
                                li Its extension being developed is to provide the palette of the n-dominant colors from the given image.


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://github.com/letatanu/FlappyBird-AI") Flappy Bird AI
                            .subheading.mb-3 Python/NEAT
                            ul.lead
                                li Using Neuroevolution of augmenting topologies - NEAT to train the agent that can play Flappy Bird itself. 
                                li After four generations, the agent can play the Flappy Bird game well without losing.
                            
                            img.h-75.img-fluid.img-thumbnail.img-responsive.rounded(src='assets/img/flappyBird.gif', alt='demo')

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://github.com/letatanu/Imager") Imager
                            .subheading.mb-3 ReactJS/Django/OpenCV/Heroku/Computer Vision
                            ul.lead
                                li The full-stack web application for image processing. 
                                li It has two main functions: generate a palette for and apply filters to the given images. 
                                ul 
                                    li Palette generation detects n-most dominant colors. 
                                    li The applying filters are Gaussian, detail enhances, and grayscale. 

                            ul.list-group.list-group-horizontal-sm
                                li.list-group-item
                                    img.img-fluid.img-thumbnail.img-responsive.rounded.mb-2(src='assets/img/imager.png', alt='Palette')
                                li.list-group-item
                                    img.img-fluid.img-thumbnail.rounded.mb-2(src='assets/img/filter.png', alt='Filter')
                   

                      

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-swift
                        li.list-inline-item
                            | C/C++
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            | postgresql
                    ul.list-inline.dev-icons
                        li PyTorch/Keras/OpenCV/Scikit-learn/Scikit-image
                    ul.list-inline.dev-icons
                        li Express/MongoDB
                    
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | iOS Mobile Application
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Data Analysis
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Windows
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Linux/Ubuntu
                        li
                            span.fa-li
                                i.fas.fa-check
                            | MacOs
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development

            hr.m-0

            //- // Interests
            //- section#interests.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Interests
            //-         p
            //-             | As a man, of course, g .......... Yeah, you are right. It is exactly what you are thinking. It is gaming.
            //-         p.mb-0
            //-             | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            //- hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | International Achievement Scholarship	- Portland State University
                        .flex-shrink-0
                            span.text-primary 2015 - 2018
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 2
                                sup nd
                                | Place - Dong Thap Olympiad for High School Student Individual Contest in Maths - Vietnam
                        .flex-shrink-0
                            span.text-primary 2011
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 2
                                sup nd
                                | Place - Dong Thap Olympiad for High School Student Individual Contest in Maths - Vietnam
                        .flex-shrink-0
                            span.text-primary 2010
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Gold Medal - Mekong Delta Olympic in Maths - Vietnam
                        .flex-shrink-0
                            span.text-primary 2010          
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1 
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Silver Medal - Olympic 30/4 in Maths - Vietnam
                        .flex-shrink-0
                            span.text-primary 2009
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')